<h1>Home Page</h1>

<% data.Search.forEach(function(title){ %>
    <li><%= title.Title%></li>
<% }) %>
<hr>
<!--<form action="/sea" method="GET">-->
<!--    <label >Movie Name</label>-->
<!--    <input type="text" name="movieName">-->
<!--    <button type="submit">submit</button>-->
<!--</form>-->
<link  >
<a href="./sea" href>Search Again</a>